body { padding-top: 70px; }

#bgimg{
	height:1px;
    background-color:#FFFFFF;
    overflow: hidden;
    height:100%;
}

.fullcourt {
	position: relative;
	margin-right: auto;
	margin-left: 100px;
}

p {
	position: relative;
	margin-right: 10px;
	margin-left: 10px;
}
h2 {
	position: relative;
	margin-right: 10px;
	margin-left: 10px;
}
h3 {
	position: relative;
	margin-right: 10px;
	margin-left: 10px;
}
h4 {
	position: relative;
	margin-right: 10px;
	margin-left: 10px;
}
